# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user

# .DS_Store
*.DS_Store

# raw GHCN data
/data/ghcnd_all/ghcnd_all/*.dly
/data/cpc/*.nc
/data/ghcnd_selected/*.csv
/data/ghcnd_coef_var/*.csv
/data/Indices/*.csv
/data/Indices/rx1s/*.csv
/data/Indices/rx5s/*.csv
/data/Indices/ThrIndS/*.csv
/data/Indices/SDIIS/*.csv
/data/predictability/*.csv
/data/ghcnd_gap_filled/*.csv
/data/ghcnd_selected_copy/*.csv
/data/ghcnd_gap_filled_2/*.csv
/data/restructured/*.csv
/data/cpc_selected/*.csv
/data/Indices/CDS/*.csv
/data/Indices/CDS_hunter_gatherer/*.csv
/data/Indices/ThrIndS_temp/*.csv

# R project
*.Rproj